.Header {
    align-items: center;
    background: rgb(110,110,110);
    background: linear-gradient(172deg, rgba(110,110,110,1) 0%, rgba(182,35,75,1) 17%);
    display: flex;
    font-size: 30px;
    justify-content: space-between;
}

.Nav {
    align-items: center;
    color: snow;
    display: flex;
    height: 7vh;
    justify-content: flex-start;
}

.Nav a {
    color: snow;
    padding: 0 30px;
    text-decoration: none;
    transition: transform 0.3s;
}

.Nav a[class='active'] {
    color: bisque;
    transform: scale(1.3);
}

.Login {
    background-color: darkseagreen;
    border: 1px solid gray;
    border-radius: 25px;
    color: snow;
    display: flex;
    margin-right: 50px;
    height: 50px;
    padding: 0;
    text-decoration: none;
    width: 160px;
}

.Avatar {
    border-radius: 25px;
    height: 50px;
    width: 50px;
}

.NickName {
    font-size: 16px;
    margin: 10px 10px;
}

a:hover {
    color: burlywood;
}

.Login:hover {
    background-color: forestgreen;
    border-radius: 25px;
}

